{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        {%for homework in all_homework%}
            <div class="card">
                <div class="card-title">{{homework.subject}}</div>
                <div class="card-body">
                    <p>Subject : {{homework.subject}}</p>
                    <p>Question : {{homework.description}}</p>
                    <p>Las Date : {{homework.last_date.strftime('%d %m %Y')}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="{{url_for('admin.view_homework_answers',question_id=homework.id)}}">View Answers</a>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}